<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<agm-map [latitude]="lat" [longitude]="lng" >
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>  -->
  <div>
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng">
    </agm-marker> 
  </div>
</agm-map>

<div class="searchbar">
  <input #searchBox id="search-box"  type="text" placeholder="Search"
  (keyup.enter)="search(searchBox.value)"/>
  <button (click)="search(searchBox.value)"><i class="fa fa-search"></i></button>
  <button name="rl" (click)="switchRange()" name="Range" *ngIf="!rangeLimit">Range Limit Off</button>
  <button name="rl" (click)="switchRange()" name="Range" *ngIf="rangeLimit">Range Limit On</button>
</div>

<h2>Relevant Tweets: </h2>
<ul  class="articles" *ngIf="articles">
  <li *ngFor="let article of articles">
    <span class="badge">{{article.id}}</span>    
    {{article.author | uppercase}}<span>: </span>    
    {{article.body}} <span > - </span>
    lon {{article.lon}} <span>, </span>
    lat {{article.lat}} 
  </li>
</ul>


<h4 *ngIf="lastSearch">Last search query: <i>"{{lastSearch}}"</i></h4>